# 1. Ігноруємо папку з вихідним кодом гри (найважча папка)
Game/

# 2. Ігноруємо системне сміття (Windows/Mac)
.DS_Store
Thumbs.db
Desktop.ini

# 3. Ігноруємо налаштування редакторів коду (щоб не плутались налаштування)
.vscode/
.idea/
*.sln
*.csproj
*.user
*.userprefs